.sidebar {
  background-color: var(--blue);

  @media (min-width: 600px) {
    padding: 20px 50px 40px 70px;
  }

  @media (min-width: 900px) {
    width: 45%;
    // height: 100%;
    // position: fixed;
    overflow: scroll;
  }
}
