.sidebar__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.sidebar__logo {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;

  @media screen and (min-width: 1200px) {
    line-height: 1em;
  }
}

.sidebar__links {
  display: flex;

  a {
    border: 1px solid var(--dark-blue);
    padding: 6px 25px;
    text-align: center;
  }

  a:first-child {
    margin-right: 10px;
  }
}
